<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rtc.burak.ratecoindeneme">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Rate Coin"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateAccActivity"
            android:label="Update Account" />
        <activity
            android:name=".DeleteUserActivity"
            android:label="Delete Account" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".SignupActivity"
            android:label="Signup" />
        <activity
            android:name=".UserDetailsActivity"
            android:label="User Details" />
        <activity
            android:name=".PhotoActivity"
            android:label="Photos" />
        <activity
            android:name=".CreateIssueActivity"
            android:label="Create Issue" />
        <activity
            android:name=".CreateIssuewithImageActivity"
            android:label="Create Issue" />
        <activity
            android:name=".CreateIssuewithOneImageActivity"
            android:label="Create Issue" />
        <activity
            android:name=".DetailsActivity"
            android:label="DetailsActivity" />
        <activity
            android:name=".IssueResultActivity"
            android:label="IssueResult" />
        <activity
            android:name=".UserCreatedActivity"
            android:label="User Created" />
        <activity
            android:name=".UserVotedActivity"
            android:label="User Voted" />
        <activity
            android:name=".HomeActivity"
            android:label="Issue List" />
        <activity
            android:name=".CreateUserWalletActivity"
            android:label="Wallet" />
        <activity
            android:name=".WalletActivity"
            android:label="Wallet Actions" />
        <activity
            android:name=".PromotionsActivity"
            android:label="Promotions List" />
        <activity
            android:name=".PromotionDetailsActivity"
            android:label="Promotion Details" />
    </application>

</manifest>